javascript:
	-path ../static/js
	-keep-uncompressed
	#-arg --compilation_level ADVANCED_OPTIMIZATIONS
	-arg --js

	@../static/js/ki.js
		textile.js
		protobuf.js
		models.js
		utils.js
		api/*.js
		templates/*.js

static_javascript:
	-path ../../keystatic/js
	-keep-uncompressed
	-arg --js

	@../../keystatic/js/ki.static.js
		ki*.js